* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #36322f;
}
.megamenu-container {
  padding-top: 20px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.megamenu-btn {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 18px;
  border: 2px solid #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.megamenu-btn:hover {
  background-color: #fff;
  color: #36322f;
}

.megamenu-btn:hover + .megamenu,
.megamenu:hover {
  visibility: visible;
  opacity: 1;
  margin-top: 14px;
}

.megamenu {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  display: inline-block;
  width: 80%;
  background-color: #45423f;
  padding: 30px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.megamenu::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background-color: #45423f;
}

/* Menu contents design */

.menu-section {
  border-bottom: 1px solid #8a8a8a;
  padding: 30px 0;
  z-index: 2;
}

.menu-section:first-child {
  padding-top: 0;
}

.menu-section:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.menu-section-title {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 18px;
  color: #fff;
}

.menu-section-links {
  display: grid;
  gap: 9px;
  padding: 0 7px;
}

@media (min-width: 950px) {
  .menu-section-links {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1080px) {
  .menu-section-links {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

a,
a:visited {
  display: block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: gold;
  text-decoration: underline;
}
